[user]
	name = Brian Hong
	email = brian@bhong.dev

[alias]
	graph = log --graph --all --oneline --abbrev-commit

[push]
	default = simple
	autoSetupRemote = true

[core]
	autocrlf = input
	editor = vim

[color]
	ui = auto

[commit]
	#gpgsign = true

[gpg]
	program = gpg2

[merge]
	tool = vimdiff
	#tool = vscode
	conflictstyle = diff3

[mergetool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	#cmd = code --wait $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[mergetool]
	prompt = true
